body {
    padding-top: 6%;

    background-image: url("/Images/nz.jpg")
      
   
  }

  .container{
   
    background: #F5F5F5;
    text-align: center;
    align-content: center;
  }
  .wrapper , .wrap{
      display: inline;
      padding: 3%
   
}

.buttons{
    text-align: center; 
   
}

.Header{
    text-align: center;
}

.logout{
    text-align:right;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:70%;
    width:100%;
    position:absolute;
}

